.control-dots {
  display: flex;
  justify-content: center;
}

.full-card {
  max-width: 1468px;
  height: 500px;
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid var(--dark-grey-50, #C5C5C9);
  background: var(--white, #FFF);
}

 .card-left {
  display: flex;
  width: 730px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 57px;
  flex-shrink: 0;
  border-radius: 14px 0px 0px 14px;
  backdrop-filter: blur(2px);
 }

 .word {
    word-break: break-all;
 }

.decription {
  display: flex;
  width: 330px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  margin-top:50px
}

.card-right {
  width: 700px;
  height: 500px;
  justify-content: center;
  object-fit: cover;
  position: center;
  background-repeat: no-repeat;
  justify-content: center;
  border-radius: 0px 14px 14px 0px;
}

.head {
  color: var(--black-grey, #191919);
  font-family: Montserrat;
  flex-direction: row;
  font-style: normal;
  font-weight: 40;
  line-height: 94%;
  text-transform: uppercase;
}

.category {
  color: var(--black-grey, #191919);
  font-size: 8px;
  font-weight: 40;
  margin-left: 200px;
}

/* .pagination {
  display: inline-block;
  margin-top: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 10px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #E21680;
  color: white;
  border: 1px solid #E21680;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
} */
