.decription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  margin-top:20px;
}

.head {
  color: var(--black-grey, #191919);
  font-family: Montserrat;
  flex-direction: row;
  font-style: normal;
  font-weight: 40;
  line-height: 94%;
  text-transform: uppercase;
}
